<div class="container m-5  ">
  <h2 class="text-center ">Our Products BY ID</h2>
 
   

    <div class="card   m-auto w-25 text-center"   >
        <img src="assets/img/p22.jpeg" height="260" class="card-img-top" alt="...">
        <div class="card-body">
          <h4 class="card-title"> ID:{{product.id}}</h4>
          <h5 class="card-title"> {{product.name}}</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">{{product.price |currency}}</li>
          <li class="list-group-item">Quantity:{{product.Quantity}}</li>
     
        </ul>
       <button class=" btn btn-warning w-75 m-auto"[routerLink]="['/productstable']">Back To Product</button>
      </div>
</div>