<nav class="py-2 bg-light border-bottom">
  <div class="container d-flex flex-wrap">
    <ul class="nav me-auto">
      <li class="nav-item"><a href="#" class="nav-link link-dark px-2 active" aria-current="page" data-ur1313m3t="true"
        [routerLink]="['/']"
        [routerLinkActive]="'.bg-danger-subtle'"
        [routerLinkActiveOptions]="{ exact: true}"
        >Home</a></li>
      <li class="nav-item"><a href="#" class="nav-link link-dark px-2" data-ur1313m3t="true"
        [routerLink]="['/about']"
        [routerLinkActive]="'.bg-danger-subtle'"
        [routerLinkActiveOptions]="{ exact: true}"
        >About</a></li>
      <li class="nav-item"><a href="#" class="nav-link link-dark px-2" data-ur1313m3t="true"
        [routerLink]="['/productes']"
        [routerLinkActive]="'.bg-danger-subtle'"
        [routerLinkActiveOptions]="{ exact: true}"
        >productes</a></li>
      <li class="nav-item"><a href="#" class="nav-link link-dark px-2" data-ur1313m3t="true"
        [routerLink]="['/Exclusiveproducts']"
        [routerLinkActive]="'.bg-danger-subtle'"
        [routerLinkActiveOptions]="{ exact: true}"
        >Exclusive products</a></li>
      <li class="nav-item"><a href="#" class="nav-link link-dark px-2" data-ur1313m3t="true"
        [routerLink]="['/productstable']"
        [routerLinkActive]="'.bg-danger-subtle'"
        [routerLinkActiveOptions]="{ exact: true}"
        >productstable</a></li>
      
    </ul>
    <ul class="nav">
      <li class="nav-item"><a href="#" class="nav-link link-dark px-2" data-ur1313m3t="true"
        [routerLink]="['/form']"
        [routerLinkActive]="'bg-success p-2 text-dark bg-opacity-25 rounded-pill'"
        [routerLinkActiveOptions]="{ exact: true}"
        >Login</a></li>
      <li class="nav-item"><a href="#" class="nav-link link-dark px-2" data-ur1313m3t="true">Sign up</a></li>
    </ul>
  </div>
</nav>
<header class="py-3  border-bottom">
  <div class="container d-flex flex-wrap justify-content-center">
    <a href="/" class="d-flex align-items-center mb-3 mb-lg-0 me-lg-auto text-dark text-decoration-none" data-ur1313m3t="true">
      <img src="https://images.pexels.com/photos/2587370/pexels-photo-2587370.jpeg" width="130" height="100">
      <span class="fs-4">Shop Now</span>
    </a>
    <form class="col-12 col-lg-auto  mb-lg-0">
      <input type="search" class="form-control" placeholder="Search..." aria-label="Search">
    </form>
  </div>
</header>

